---
apiVersion: v1
kind: Secret
metadata:
  name: ansible-sa-token
  namespace: kube-system
  annotations:
    kubernetes.io/service-account.name: svc-ansible
type: kubernetes.io/service-account-token
