crds:
  enabled: true
  keep: true

namespace: "cert-manager"

image:
  repository: quay.io/jetstack/trust-manager
  pullPolicy: IfNotPresent
  tag: v0.17.0

defaultPackageImage:
  repository: quay.io/jetstack/trust-pkg-debian-bookworm
  tag: "20230311.0"
  pullPolicy: IfNotPresent

app:
  trust:
    namespace: cert-manager
  